<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Student Portal</title>
</head>
<body>

<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand" href="#">Student Management System</a>





	<div class ="container">
		<div class= "row">
			<h1> Student Portal </h1>
		</div>
		
	
			<table class="table table-hover table-dark table-striped">
			
			<thead class="table-dark">
				<tr>
					<th>Student</th>				
					<th>Details</th>
					
				</tr>
				
			</thead>
			<tbody >
			
				<tr  th:each ="student: ${students}">
					<td>Roll No.</td>
					<td th:text ="${student.rollNum}"></td>
				</tr>
				<tr  th:each ="student: ${students}">
					<td>Name</td>
					<td th:text ="${student.firstName}"></td>
				</tr>
				<tr  th:each ="student: ${students}">
					<td>Email</td>
					<td th:text ="${student.email}"></td>
				</tr>
				<tr  th:each ="student: ${students}">
					<td>Marks</td>
					<td th:text ="${student.marks}"></td>
				</tr>
				<tr  th:each ="student: ${students}">
					<td>Result</td>
					<td th:text ="${student.status}"></td>
				</tr>	
				
					

			</tbody>
		</table>
		
	
	</div>
</body>
</html>
